:root{
    --primary: #52BDCD;
    --lightprimary: #4534FF;
    --darkprimary: #25324B;
    --light: #003F7D14;
    --secondary: #908B93;
    --secondaryligth: #F8F7F9;
    --darksecondary: #737791;
    --dark: #15192C;
    --black: #1D1E1E;
    --white: #FFF;
}